@font-face {
  font-family: Inter;
  src: url('../fonts/Inter-ExtraBoldItalic.woff2') format("woff2");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url('../fonts/Inter-Bold.woff2') format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url('../fonts/Inter-BlackItalic.woff2') format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url('../fonts/Inter-Italic.woff2') format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url('../fonts/Inter-Medium.woff2') format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url('../fonts/Inter-SemiBoldItalic.woff2') format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url('../fonts/Inter-Regular.woff2') format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url('../fonts/Inter-SemiBold.woff2') format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url('../fonts/Inter-BoldItalic.woff2') format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url('../fonts/Inter-ExtraBold.woff2') format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url('../fonts/Inter-MediumItalic.woff2') format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url('../fonts/Inter-Black.woff2') format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Oswald;
  src: url('../fonts/Oswald-Light.woff') format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Oswald;
  src: url('../fonts/Oswald-SemiBold.woff') format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Oswald;
  src: url('../fonts/Oswald-Bold.woff') format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Oswald;
  src: url('../fonts/Oswald-Medium.woff') format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Oswald;
  src: url('../fonts/Oswald-ExtraLight.woff') format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Oswald;
  src: url('../fonts/Oswald-Regular.woff') format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --black: black;
  --white: white;
}

.w-users-userformpagewrap {
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  max-width: 340px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.w-users-userloginformwrapper {
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.w-users-userformheader {
  text-align: center;
}

.w-users-userformbutton {
  text-align: center;
  width: 100%;
}

.w-users-userformfooter {
  justify-content: space-between;
  margin-top: 12px;
  display: flex;
}

.w-users-userformerrorstate {
  margin-left: 20px;
  margin-right: 20px;
  position: absolute;
  top: 100%;
  left: 0%;
  right: 0%;
}

.w-users-usersignupformwrapper {
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.w-users-userformsuccessstate {
  display: none;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-users-usersignupverificationmessage {
  display: none;
}

.w-users-userresetpasswordformwrapper, .w-users-userupdatepasswordformwrapper {
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.w-users-useraccountwrapper {
  background-color: #f5f5f5;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
}

.w-users-blockheader {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  justify-content: space-between;
  align-items: baseline;
  padding: 4px 20px;
  display: flex;
}

.w-users-blockcontent {
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  margin-bottom: 20px;
  padding: 20px;
}

.w-users-useraccountformsavebutton {
  text-align: center;
  margin-right: 8px;
}

.w-users-useraccountformcancelbutton {
  text-align: center;
  color: #333;
  background-color: #d3d3d3;
}

body {
  color: #333;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Oswald, sans-serif;
  font-size: 56px;
  font-weight: 600;
  line-height: 120%;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Oswald, sans-serif;
  font-size: 54px;
  font-weight: 500;
  line-height: 120%;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Oswald, sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 120%;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Oswald, sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 120%;
}

a {
  text-decoration: none;
  transition: all .25s cubic-bezier(.645, .045, .355, 1);
}

img {
  object-fit: cover;
  max-width: 100%;
  display: inline-block;
}

.container {
  width: 100%;
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
}

.container.header-container {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.container.vertical {
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  flex-flow: column;
  display: flex;
}

.container.horizontal {
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.container.horizontal.footer {
  align-items: flex-start;
}

.container.blog-item {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.page-wrapper {
  color: #fff;
  background-color: #000415;
  font-family: Inter, sans-serif;
  font-size: 18px;
  line-height: 150%;
}

.page-wrapper.white-theme {
  color: #000415;
  background-color: #fff;
}

.style-guide-flex {
  flex-flow: column;
  align-items: flex-start;
  display: flex;
}

.h1 {
  font-family: Oswald, sans-serif;
  font-size: 5rem;
  font-weight: 600;
  line-height: 110%;
}

.h2 {
  font-family: Oswald, sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 120%;
}

.h3 {
  font-family: Oswald, sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 120%;
}

.h4 {
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 120%;
}

.h4.h4-wrapper {
  width: 300px;
}

.h4.no-main {
  text-transform: none;
  font-weight: 700;
}

.button-main {
  background-color: #0e3dcc;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 500;
  line-height: 160%;
}

.button-main:hover {
  background-color: #0e3dcccc;
}

.button-main:active {
  background-color: #0e3dcce6;
}

.button-main.is-small {
  font-size: 16px;
}

.button-main.center {
  text-align: center;
}

.is-small {
  padding: 8px 20px;
}

.button-secondary {
  background-color: #f95d00;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 500;
  line-height: 160%;
}

.button-secondary:hover {
  background-color: #f95d00cc;
}

.button-secondary:active {
  background-color: #f95d00e6;
}

.button-secondary.is-small {
  padding: 8px 20px;
  font-size: 16px;
}

.button-secondary.center {
  text-align: center;
}

.button-white {
  color: #000;
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 500;
  line-height: 160%;
}

.button-white:hover {
  background-color: #f5f5f5e6;
}

.button-white:active {
  background-color: #f5f5f5cc;
}

.button-white.is-small {
  padding: 8px 20px;
  font-size: 16px;
}

.button-black-empty {
  color: #000;
  background-color: #f5f5f500;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 160%;
  box-shadow: inset 0 0 0 1px #000;
}

.button-black-empty:hover {
  color: #fff;
  background-color: #000000e6;
}

.button-black-empty:active {
  background-color: #000;
}

.button-white-empty {
  color: #fff;
  background-color: #f5f5f500;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 160%;
  box-shadow: inset 0 0 0 1px #fff;
}

.button-white-empty:hover {
  color: var(--black);
  background-color: #f5f5f5;
}

.button-white-empty:active {
  background-color: #f5f5f5e6;
}

.link-black {
  color: #000;
  padding: 8px;
  font-size: 18px;
  font-weight: 500;
  line-height: 160%;
}

.link-black:hover {
  color: #000c;
}

.link-black:active {
  color: #000000e6;
}

.link-black.is-small {
  font-size: 16px;
}

.link-white {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  color: #fff;
  padding: 8px;
  font-size: 18px;
  font-weight: 500;
  line-height: 160%;
  display: flex;
}

.link-white:hover {
  color: #fffc;
}

.link-white:active {
  color: #ffffffe6;
}

.link-white.is-small {
  align-items: center;
  padding: 0;
  font-size: 16px;
  line-height: 160%;
}

.link-white.is-small.white-theme, .link-white.white-theme {
  color: #000;
}

.header {
  z-index: 1000;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: #00041566;
  padding: 24px 40px;
  position: fixed;
  inset: 0% 0% auto;
}

.header.white-theme {
  background-color: #fff;
}

.main-wrapper {
  padding-top: 0;
}

.header-left {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.icon-embed-custom {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  display: flex;
}

.icon-embed-custom.white-theme {
  color: #000;
}

.navbar {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.header-right {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.section {
  padding: 160px 40px 0;
  position: relative;
}

.section.hero {
  background-image: radial-gradient(circle closest-corner at 50% 0, #0c1b52, #000415);
  flex-flow: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 96px;
  padding-bottom: 0;
  display: flex;
}

.section._2section {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
}

.section.faq {
  overflow: visible;
}

.section.footer {
  padding-bottom: 80px;
}

.section.hero-blog {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-top: 182px;
  padding-bottom: 0;
  display: flex;
}

.section.small-top {
  padding-top: 80px;
}

.hero-img {
  aspect-ratio: 2 / 2.5;
  object-position: 50% 0%;
  border-radius: 16px;
  flex: 0 auto;
  max-width: 45%;
  max-height: 75vh;
  padding-top: 0;
}

.home-hero-content {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.home-hero-text {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-flow: column;
  display: flex;
}

.subheading {
  color: #ffffffe6;
}

.subheading.center {
  max-width: 705px;
}

.subheading.hero {
  font-size: 18px;
  line-height: 150%;
}

.subheading.hero.white-theme {
  color: #000000e6;
}

.buttons-block {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  display: flex;
}

.section-2-wrapper {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-flow: column;
  flex: 1;
  justify-content: center;
  align-items: flex-end;
  display: flex;
}

.section-2-textcontent {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-flow: column;
  display: flex;
}

.section-2-content {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-flow: column;
  width: 100%;
  max-width: 652px;
  display: flex;
}

.subheading-wrapper {
  width: 90%;
}

.section-2-headingwrapper {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.section-2-grid {
  grid-column-gap: 64px;
  grid-row-gap: 24px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  display: grid;
}

.section2-grid-item {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-flow: column;
  display: flex;
}

.section2-grid-item-text {
  font-size: 16px;
}

.section2-grid-item-heading {
  font-size: 70px;
  line-height: 100%;
}

.heading-div {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  text-align: center;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.div-block-7 {
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.div-block-8 {
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  flex-flow: column;
  flex: 1;
  display: flex;
}

.buttons-block-service {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.div-block-9 {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-flow: column;
  display: flex;
}

.div-block-10 {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-flow: column;
  display: flex;
}

.div-block-11 {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.image {
  width: 28px;
  height: 28px;
}

.text-block-3 {
  font-size: 18px;
}

.text-block-5 {
  color: #ffffffb3;
  max-width: 175px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.banner-wrapper {
  background-image: url('../images/Banner.png'), linear-gradient(90deg, #134ac3, #496cd9);
  background-position: 50%, 0 0;
  background-size: cover, auto;
  border-radius: 16px;
  justify-content: flex-end;
  align-items: center;
  padding: 96px 56px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.div-block-12 {
  grid-column-gap: 56px;
  grid-row-gap: 56px;
  flex-flow: column;
  justify-content: center;
  align-items: flex-end;
  display: flex;
}

.image-2 {
  position: absolute;
  top: 48px;
  bottom: 48px;
  left: 96px;
}

.div-block-13 {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-flow: column;
  justify-content: center;
  align-items: flex-end;
  display: flex;
}

.text-block-6 {
  color: #fff9;
}

.link {
  color: #fff9;
  text-decoration: underline;
}

.image-3 {
  position: absolute;
  bottom: 0;
  left: 0;
}

.image-4 {
  position: absolute;
  top: 0;
  left: 20%;
}

.image-5 {
  position: absolute;
  left: 40%;
}

.cards-grid {
  grid-column-gap: 48px;
  grid-row-gap: 56px;
  grid-template: ". . ."
                 ". . ."
                 ". Area Area"
                 / 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.home-hero-wrapper {
  flex: 1;
  display: flex;
}

.pricing-card {
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  background-image: linear-gradient(135deg, #120a3f, #00046547);
  border: 2px solid #ffffff1a;
  border-radius: 20px;
  flex-flow: column;
  justify-content: space-between;
  min-height: 635px;
  padding: 42px;
  display: flex;
}

.div-block-15 {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-flow: column;
  display: flex;
}

.text-block-7 {
  font-family: Oswald, sans-serif;
  font-size: 56px;
  font-weight: 500;
  line-height: 100%;
}

.div-block-16 {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-flow: column;
  display: flex;
}

.div-block-17 {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-flow: column;
  display: flex;
}

.div-block-18 {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  flex-flow: column;
  display: flex;
}

.div-block-19 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  display: flex;
}

.image-6 {
  width: 20px;
}

.text-block-9 {
  font-size: 12px;
  font-weight: 400;
  line-height: 120%;
}

.div-block-20 {
  justify-content: center;
  align-items: center;
  display: flex;
}

.center-heading {
  max-width: 640px;
}

.image-7 {
  border-radius: 16px;
  min-height: 0;
  position: static;
  overflow: auto;
}

.section-2-img {
  border-radius: 16px;
  flex: 0 auto;
  width: 50%;
}

.div-block-21 {
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  flex-flow: column;
  align-items: center;
  display: flex;
}

.collection-list {
  grid-column-gap: 88px;
  grid-row-gap: 88px;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.home-blog-post {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-flow: column;
  flex: 1;
  display: flex;
}

.home-blog-post-img {
  aspect-ratio: 2 / 3;
  border-radius: 16px;
  width: 100%;
}

.home-blog-post-heading-flex {
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}

.home-blog-heading {
  font-size: 32px;
}

.home-blog-post-minutes-flex {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  align-items: center;
  display: flex;
}

.home-blog-post-bottom {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-flow: column;
  display: flex;
}

.home-blog-post-text-wrapper {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-flow: column;
  display: flex;
}

.home-blog-post-calories-flex {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  color: #fffc;
  font-size: 14px;
  font-weight: 500;
  display: flex;
}

.icon-embed-custom-3 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
}

.faq-wrapper {
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.faq-list {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-flow: column;
  width: 100%;
  max-width: 80%;
  display: flex;
}

.faq-item {
  z-index: 1;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  cursor: pointer;
  flex-flow: column;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  position: relative;
}

.faq-main {
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-weight: 500;
  line-height: 150%;
  display: flex;
}

.div-block-27 {
  background-color: #0e3dcc;
  border-radius: 90px;
  padding: 6px;
}

.lottie-animation {
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  display: flex;
}

.faq-inner {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  color: #ffffffb3;
  flex-flow: column;
  width: 90%;
  font-size: 18px;
  font-weight: 400;
  line-height: 170%;
  display: block;
}

.icon-embed-custom-5 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: auto;
  display: flex;
  position: sticky;
  top: 150px;
}

.div-block-28 {
  z-index: 0;
  justify-content: flex-end;
  align-items: flex-start;
  width: 30%;
  height: 100%;
  display: flex;
  position: absolute;
  inset: 0% 0 0% auto;
}

.heading-horizontal {
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}

.link-block {
  color: #fff;
  width: 160px;
}

.link-block.w--current:hover {
  color: #fff;
}

.reviews-grid {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-flow: column;
  grid-template: "Area Area Area Area Area Area-2 Area-2 Area-2 Area-2"
                 "Area-3 Area-3 Area-3 Area-4 Area-4 Area-4 Area-5 Area-5 Area-5"
                 / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.review-card {
  grid-column-gap: 36px;
  grid-row-gap: 36px;
  background-image: linear-gradient(135deg, #120a3f, #00046547);
  border: 2px solid #ffffff1a;
  border-radius: 20px;
  flex-flow: column;
  justify-content: space-between;
  padding: 42px;
  display: flex;
  position: relative;
}

.review-card-top {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-flow: column;
  display: flex;
}

.star {
  color: #f2b005;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1.4375rem;
  height: 1.375rem;
  display: flex;
}

.stars-row {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  align-items: center;
  display: flex;
}

.text-block-11 {
  font-size: 16px;
  line-height: 150%;
}

.review-card-bot {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 160%;
  display: flex;
}

.testomonial-image {
  border-radius: 180px;
  width: 64px;
  height: 64px;
}

.testimonial-main-img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.text-block-11-copy {
  font-size: 24px;
  line-height: 160%;
}

.icon-embed-custom-7 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 11.625rem;
  height: 13.1875rem;
  display: flex;
  position: absolute;
  top: -10px;
  right: 96px;
}

.icon-embed-custom-8 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 9.75rem;
  height: 9.75rem;
  display: flex;
  position: absolute;
  bottom: 64px;
  right: 28px;
}

.icon-embed-custom-9 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10.9375rem;
  height: 11.25rem;
  display: flex;
  position: absolute;
  top: -16px;
  left: -18px;
}

.icon-embed-custom-10 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 18.9375rem;
  height: 17.125rem;
  display: flex;
  position: absolute;
  bottom: 9px;
  right: 0;
}

.footer-left {
  grid-column-gap: 56px;
  grid-row-gap: 56px;
  flex-flow: column;
  align-items: flex-start;
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
}

.div-block-29 {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  align-items: center;
  display: flex;
}

.icon-embed-custom-11 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1.625rem;
  height: 1.625rem;
  display: flex;
}

.footer-right {
  grid-column-gap: 42px;
  grid-row-gap: 42px;
  flex-flow: column;
  align-items: stretch;
  padding-top: 64px;
  display: flex;
}

.footer-links-social {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  align-items: center;
  display: flex;
}

.text-block-13 {
  font-size: 90px;
  font-weight: 700;
  line-height: 150%;
}

.div-block-30 {
  grid-column-gap: 36px;
  grid-row-gap: 36px;
  flex-flow: column;
  display: flex;
}

.icon-embed-custom-12 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5625rem;
  display: flex;
}

.footer-social-link {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  color: #fff;
  display: flex;
}

.footer-social-link:hover {
  color: #fffc;
}

.footer-social-link:active {
  color: #ffffffe6;
}

.footer-social-link.white-theme {
  color: #000;
}

.icon-embed-custom-13 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5625rem;
  display: flex;
}

.lottie-animation-2 {
  display: none;
}

.hero-blog-hero {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 768px;
  display: flex;
}

.collection-list-2 {
  justify-content: space-between;
  align-items: stretch;
  display: flex;
}

.collection-list-wrapper {
  flex: 1;
}

.collection-item-2 {
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: relative;
}

.image-11 {
  aspect-ratio: 3 / 2;
  border-radius: 16px;
  flex: none;
}

.div-block-31 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  flex: 1;
  justify-content: center;
  align-items: stretch;
  display: flex;
}

.label-item {
  color: #000;
  text-align: center;
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 4px 8px;
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
}

.label-item.dark {
  background-color: #e6e6e6;
}

.div-block-32 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.div-block-33 {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
  display: flex;
}

.div-block-34 {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.div-block-35 {
  flex: 1;
}

.div-block-36 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 70%;
  display: flex;
}

.icon-embed-custom-14 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 13.6875rem;
  height: 20.5rem;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
}

.tabs-content {
  margin-top: 64px;
}

.tab-link-tab-2 {
  color: #ffffffb3;
  background-color: #ddd0;
  padding: 8px;
}

.tab-link-tab-2:hover {
  color: #ffffffe6;
}

.tab-link-tab-2.w--current {
  color: #fff;
  background-color: #ddd0;
}

.tab-link-tab-2.white-theme {
  color: #00000080;
  font-weight: 500;
}

.tab-link-tab-2.white-theme.w--current {
  color: #000;
}

.collection-list-3 {
  grid-column-gap: 32px;
  grid-row-gap: 64px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.collection-item-4 {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-flow: column;
  display: flex;
}

.image-12 {
  aspect-ratio: 3 / 2;
  border-radius: 16px;
}

.div-block-37 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  display: flex;
}

.div-block-38 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.blog-item-content-text {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  color: #000415;
  flex-flow: column;
  display: flex;
}

.blog-item-content-text.white-theme {
  color: #fff;
}

.h5 {
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
}

.text-block-14 {
  font-size: 16px;
}

.form-service {
  z-index: 2;
  background-image: linear-gradient(90deg, #3168b9, #0d309b);
  border-radius: 16px;
  padding: 48px;
  position: relative;
}

.form-service.flex-vertical {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-flow: column;
  padding: 48px;
  display: flex;
}

.log-in-form {
  z-index: 10;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-flow: column;
  min-width: 346px;
  display: flex;
  position: relative;
}

.main-service-wrapper {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  max-width: none;
  height: 100vh;
  display: flex;
}

.service-form-wrapper {
  background-color: #f5f5f500;
  align-self: center;
  width: 100%;
  max-width: 520px;
  min-height: auto;
  padding: 0;
  position: relative;
}

.icon-embed-custom-15 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 16.875rem;
  height: 18rem;
  display: flex;
}

.div-block-41 {
  z-index: 12;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: -160px;
  left: 0;
  right: 0;
}

.form-footer {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.icon-embed-custom-16 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 4.875rem;
  display: flex;
  position: absolute;
  top: 28px;
  right: 28px;
}

.field-label {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 500;
}

.form-field-wrapper {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-flow: column;
  display: flex;
}

.form-input {
  background-color: #fff;
  border-radius: 8px;
  height: 47px;
  margin-bottom: 0;
}

.form-flex16 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  display: flex;
}

.form-button {
  margin-top: 8px;
}

.bzu-wrapper {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  align-items: center;
  width: 90%;
  display: flex;
}

.div-block-44 {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  border-left: 2px solid #000;
  padding-left: 6px;
  display: flex;
}

.div-block-44.no-border, .div-block-44.no-border-mobile {
  border-left-style: none;
  padding-left: 0;
}

.food-blog-side {
  grid-column-gap: 36px;
  grid-row-gap: 36px;
  background-image: linear-gradient(135deg, #f5f5f5, #f5f5f5b3);
  border: 1px solid #f0f0f0;
  border-radius: 20px;
  flex-flow: column;
  flex: 1;
  padding: 42px;
  display: flex;
  position: sticky;
  top: 125px;
}

.div-block-45 {
  grid-column-gap: 18px;
  grid-row-gap: 18px;
  flex-flow: column;
  display: flex;
}

.div-block-46 {
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}

.div-block-47 {
  flex-flow: column;
  display: flex;
}

.divider {
  background-color: #000;
  width: 100%;
  height: 3px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.div-block-48 {
  grid-column-gap: 28px;
  grid-row-gap: 28px;
  flex-flow: column;
  display: flex;
}

.text-block-16 {
  font-size: 28px;
  font-weight: 500;
  line-height: 150%;
}

.collection-list-wrapper-2 {
  align-self: flex-start;
}

.text-block-17 {
  font-size: 14px;
  font-weight: 600;
}

.text-block-17.semi {
  color: #000415b3;
}

.div-block-49 {
  flex: 1;
}

.image-13 {
  border-radius: 16px;
}

.collection-list-4 {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 24px;
  display: grid;
}

.image-14 {
  border-radius: 16px;
}

.blog-side-wrapper {
  flex: 1;
  align-self: stretch;
  width: 100%;
  max-width: 40%;
  position: relative;
}

.food-item-wrapper {
  grid-column-gap: 18px;
  grid-row-gap: 18px;
  flex-flow: column;
  display: flex;
}

.div-block-50 {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.div-block-51 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-flow: column;
  display: flex;
}

.text-block-18 {
  color: #00041599;
  font-size: 16px;
}

.text-block-19 {
  font-size: 16px;
  font-weight: 500;
}

.training-list {
  grid-column-gap: 42px;
  grid-row-gap: 42px;
  flex-flow: column;
  display: flex;
}

.training-link {
  background-image: linear-gradient(90deg, #0b000000, #000 70%), url('../images/Banner-2.png');
  background-position: 0 0, 0 0;
  background-repeat: repeat, no-repeat;
  background-size: auto, auto 100%;
  border-radius: 16px;
  justify-content: flex-end;
  align-items: center;
  padding-top: 42px;
  padding-bottom: 42px;
  padding-right: 56px;
  display: flex;
}

.training-link._2 {
  background-image: linear-gradient(90deg, #0b000000, #000 70%), url('../images/Banner-1.png');
}

.training-link._3 {
  background-image: linear-gradient(90deg, #0b000000, #000 70%), url('../images/Banner_1.png');
}

.training-link-inner {
  grid-column-gap: 56px;
  grid-row-gap: 56px;
  flex-flow: column;
  align-items: flex-end;
  max-width: 460px;
  display: flex;
}

.div-block-52 {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  text-align: right;
  flex-flow: column;
  align-items: flex-end;
  display: flex;
}

.text-block-20 {
  font-weight: 500;
}

.training-video-wrapper {
  flex: 1;
}

.training-blog-side {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  background-image: linear-gradient(135deg, #120a3f, #00046547);
  border: 2px solid #f0f0f01a;
  border-radius: 20px;
  flex-flow: column;
  flex: 1;
  padding: 42px;
  display: flex;
  position: sticky;
  top: 125px;
}

.div-block-55 {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  display: flex;
}

.div-block-56 {
  flex-flow: column;
  display: flex;
}

.div-block-57 {
  background-color: #fff;
  height: 3px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.div-block-58 {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  display: flex;
}

.div-block-59 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  font-family: Oswald, sans-serif;
  display: flex;
}

.div-block-60 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  display: flex;
}

.error-state {
  background-color: #ff7e7e;
}

.button-medium {
  color: #fff;
  background-color: #3898ec00;
  padding-top: 0;
  padding-bottom: 0;
  font-weight: 600;
}

.text-span {
  font-weight: 400;
}

.reset-password-form {
  z-index: 10;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-flow: column;
  display: flex;
  position: relative;
}

.icon-embed-custom-17 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10.625rem;
  height: 18.3125rem;
  display: flex;
  position: absolute;
  top: 40px;
  right: -146px;
}

.icon-embed-custom-18 {
  z-index: 3;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 5.0625rem;
  height: 4.875rem;
  display: flex;
  position: absolute;
  top: 26px;
  right: 43px;
}

.icon-embed-custom-19 {
  z-index: 3;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 2.5625rem;
  height: 2.4375rem;
  display: flex;
  position: absolute;
  top: 41px;
  left: 104px;
}

.icon-embed-custom-20 {
  z-index: 3;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 2.75rem;
  height: 2.6875rem;
  display: flex;
  position: absolute;
  top: 164px;
  left: 180px;
}

.icon-embed-custom-21 {
  z-index: 3;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 6.9375rem;
  height: 6.8125rem;
  display: flex;
  position: absolute;
  bottom: 30px;
  left: 2px;
}

.update-password-form {
  z-index: 10;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-flow: column;
  display: flex;
  position: relative;
}

.heading {
  text-align: left;
}

.form-header {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  text-align: center;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.form-flex24 {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-flow: column;
  display: flex;
}

.success-state {
  z-index: 10;
  text-align: center;
  position: relative;
}

.paragraph {
  text-align: center;
  margin-top: 32px;
}

.success-state-2 {
  z-index: 10;
  position: relative;
}

.icon-embed-custom-24 {
  flex-direction: column;
  flex: none;
  justify-content: center;
  align-items: center;
  width: 12.9375rem;
  height: 20.75rem;
  display: flex;
}

.div-block-62 {
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  display: flex;
}

.div-block-63 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.text-block-21 {
  color: #ffffffb3;
  font-size: 24px;
  line-height: 150%;
}

.icon-embed-custom-25 {
  z-index: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20rem;
  display: flex;
  position: absolute;
  top: -140px;
}

.sign-up-form {
  z-index: 10;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-flow: column;
  display: flex;
  position: relative;
}

.block-header {
  z-index: 10;
  background-color: #fff0;
  border-style: none;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  position: relative;
}

.block-content {
  z-index: 10;
  background-color: #fff0;
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  margin-bottom: 0;
  padding: 0;
  position: relative;
}

.user-account-form {
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  flex-flow: column;
  display: flex;
}

.icon-embed-custom-26 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5625rem;
  display: flex;
}

.link-block-2 {
  grid-column-gap: 14px;
  grid-row-gap: 14px;
  color: #fff;
  flex-flow: wrap;
  align-items: flex-end;
  font-weight: 500;
  line-height: 120%;
  display: flex;
}

.div-block-64 {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.utility-page-wrap {
  background-color: #000415;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.icon-embed-custom-27 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35.375rem;
  height: 16.875rem;
  margin-top: 82px;
  margin-bottom: 64px;
  display: flex;
}

.error-text-top {
  color: #ffffffb3;
  font-family: Oswald, sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 100%;
}

.text-block-22 {
  color: #ffffffb3;
  font-family: Oswald, sans-serif;
  font-size: 56px;
  line-height: 100%;
}

.checkbox-field {
  font-size: 16px;
}

.icon-embed-custom-28 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 12rem;
  display: flex;
}

@media screen and (max-width: 479px) {
  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  .container.horizontal {
    flex-flow: column;
    width: auto;
    max-width: none;
    margin-left: 0;
    margin-right: 0;
  }

  .container.horizontal.footer {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    justify-content: space-between;
    align-items: center;
  }

  .container.blog-item {
    flex-flow: column;
  }

  .page-wrapper {
    font-size: 16px;
  }

  .h1 {
    font-size: 3rem;
  }

  .h2 {
    font-size: 2.5rem;
  }

  .h2.train {
    font-size: 2rem;
  }

  .h4 {
    font-size: 28px;
  }

  .header {
    padding: 16px;
  }

  .navbar {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    flex-flow: column;
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
  }

  .header-right {
    text-align: center;
    flex-flow: column;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    display: none;
    position: absolute;
    bottom: 32px;
    left: 0;
    right: 0;
  }

  .section {
    padding-top: 120px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .section.hero {
    height: auto;
  }

  .section._2section {
    padding-bottom: 0;
  }

  .section.hero-blog {
    height: auto;
    padding-top: 125px;
  }

  .section.small-top {
    padding-top: 26px;
  }

  .section.small-top.hide-mobile {
    display: none;
  }

  .hero-img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .home-hero-content {
    text-align: center;
    align-items: stretch;
  }

  .subheading {
    font-size: 16px;
  }

  .buttons-block {
    text-align: center;
    flex-flow: column;
  }

  .subheading-wrapper {
    width: 100%;
  }

  .section-2-grid {
    grid-column-gap: 32px;
    grid-row-gap: 16px;
  }

  .section2-grid-item-heading {
    font-size: 42px;
  }

  .heading-div {
    text-align: left;
  }

  .div-block-7 {
    flex-flow: column;
  }

  .div-block-8 {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    order: 1;
  }

  .div-block-8.img {
    order: -1;
  }

  .text-block-3 {
    font-size: 16px;
  }

  .banner-wrapper {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
    flex-flow: column;
    padding-top: 63px;
    padding-bottom: 63px;
  }

  .div-block-12 {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    justify-content: center;
    align-items: center;
  }

  .image-2 {
    z-index: 10;
    position: relative;
    top: auto;
    bottom: -20px;
    left: auto;
  }

  .image-3 {
    width: 30%;
  }

  .image-4 {
    width: 60%;
    left: auto;
    right: 0;
  }

  .cards-grid {
    grid-column-gap: 128px;
    grid-row-gap: 128px;
    flex-flow: column;
    display: flex;
  }

  .pricing-card {
    background-image: linear-gradient(135deg, #120a3f, #00046547), linear-gradient(#000415, #000415);
    border: 1px solid #fff3;
    min-height: 512px;
    padding: 32px;
    position: sticky;
    top: 96px;
  }

  .text-block-7 {
    font-size: 48px;
  }

  .div-block-18 {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }

  .div-block-19 {
    font-size: 14px;
  }

  .div-block-20 {
    order: 1;
  }

  .image-7 {
    width: 100%;
  }

  .section-2-img {
    order: 1;
    width: 100%;
  }

  .div-block-21 {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .collection-list {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    flex-flow: column;
  }

  .home-blog-post {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }

  .home-blog-post-img {
    aspect-ratio: 3 / 2;
  }

  .home-blog-post-bottom {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }

  .home-blog-post-text-wrapper {
    grid-column-gap: 6px;
    grid-row-gap: 6px;
  }

  .faq-list {
    max-width: 100%;
  }

  .div-block-28 {
    display: none;
  }

  .heading-horizontal {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .link-block {
    width: 140px;
  }

  .reviews-grid {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    display: flex;
  }

  .review-card {
    background-image: linear-gradient(135deg, #120a3f, #00046547), linear-gradient(#000415, #000415);
    border: 1px solid #fff3;
    padding: 24px;
    position: sticky;
    top: 96px;
  }

  .testimonial-main-img {
    position: sticky;
    top: 96px;
  }

  .text-block-11-copy {
    font-size: 16px;
  }

  .footer-left {
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }

  .div-block-29 {
    flex-flow: column;
  }

  .footer-right {
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
  }

  .text-block-13 {
    font-size: 64px;
  }

  .lottie-animation-2 {
    width: 48px;
    height: 48px;
    display: block;
  }

  .image-10 {
    z-index: 10;
    object-fit: contain;
    background-image: linear-gradient(0deg, #000415, #000415 76%, #00041500);
    padding-top: 350px;
    position: sticky;
    top: 0;
  }

  .collection-item-2 {
    flex-flow: column;
  }

  .div-block-34 {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    padding-bottom: 38px;
  }

  .div-block-36 {
    max-width: 100%;
  }

  .icon-embed-custom-14 {
    display: none;
  }

  .collection-list-3 {
    flex-flow: column;
    display: flex;
  }

  .tabs-menu {
    flex-flow: wrap;
    display: flex;
  }

  .form-service {
    border-radius: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
  }

  .form-service.flex-vertical {
    width: 100%;
  }

  .main-service-wrapper {
    justify-content: flex-start;
    align-items: center;
  }

  .service-form-wrapper {
    max-width: none;
    min-height: 100%;
  }

  .bzu-wrapper {
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }

  .div-block-44.no-border {
    border-left-style: solid;
    padding-left: 6px;
  }

  .div-block-44.no-border-mobile {
    border-left-style: none;
    padding-left: 0;
  }

  .food-blog-side {
    grid-column-gap: 28px;
    grid-row-gap: 28px;
    padding: 16px;
  }

  .div-block-45 {
    flex-flow: column;
    justify-content: space-between;
  }

  .div-block-46 {
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 193.571px;
  }

  .divider {
    height: 2px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .div-block-48 {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }

  .text-block-16 {
    font-size: 24px;
  }

  .div-block-49 {
    order: -1;
  }

  .collection-list-4 {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    margin-top: 16px;
  }

  .blog-side-wrapper {
    order: -1;
    max-width: 100%;
  }

  .training-link {
    background-position: 0 0, 50%;
    background-size: auto, cover;
    padding: 64px 24px;
  }

  .training-video-wrapper {
    flex: none;
    width: 100%;
  }

  .training-blog-side {
    padding: 16px;
  }

  .error-state {
    z-index: 10;
    top: 0%;
  }

  .reset-password-form {
    flex: 1;
  }

  .icon-embed-custom-17 {
    display: none;
  }

  .form-header {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .div-block-62 {
    text-align: center;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .div-block-63 {
    justify-content: center;
    align-items: center;
  }

  .block-content {
    align-self: stretch;
  }

  .utility-page-content {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }

  .video {
    width: 100%;
  }

  .icon-embed-custom-27 {
    max-width: 100%;
    margin-top: 48px;
    margin-bottom: 32px;
  }

  .error-text-top {
    font-size: 28px;
  }

  .text-block-22 {
    font-size: 48px;
    line-height: 120%;
  }
}

#w-node-c4c76f69-2af7-d948-e54e-c185503e573d-106c3656, #w-node-_562e18c4-1e99-2686-ccc1-c71157bc3e77-106c3656, #w-node-_69217d20-3b96-677c-1431-ffcdd1d93594-106c3656 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-f8d2711b-125c-ceed-f5bd-150b76aea47f-106c3656, #w-node-_50c7643c-e10e-6bd8-1f81-9abdcd87e8ae-106c3656 {
  grid-area: Area;
}

#w-node-cd294762-bac6-4a7f-8369-0a7fd1bb412c-106c3656, #w-node-f695a2c0-1a25-201d-6ea7-3febace71b6a-106c3656, #w-node-_675df993-3285-f35d-8713-1e1fafa35a68-106c3656, #w-node-_6d8d5053-680b-ac0a-1441-c0632b85e710-106c3656, #w-node-_5d6abe58-657c-8480-5211-6c5e8464e10a-106c3656, #w-node-_78fc5464-0d51-0c75-af23-42644518e840-106c3656, #w-node-_1babea8e-4ca9-bc20-8b7a-1cd2e9b2aa51-106c3656 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_2fb55fc2-8ae9-c133-cd51-d859f3535a15-106c3656 {
  grid-area: Area;
}

#w-node-c264d04f-85a6-8f0b-d6b3-cb3b5b1e4134-106c3656, #w-node-_68b9c43b-02d8-2d58-dea6-a57dd6431ee4-106c3656 {
  grid-area: Area-3;
}

#w-node-_5c61e18f-a3f6-669f-4ed8-a84f20abcb04-106c3656 {
  grid-area: Area-4;
}

#w-node-_5c61e18f-a3f6-669f-4ed8-a84f20abcb06-106c3656 {
  grid-area: Area-3;
}

#w-node-_2b9e71ee-d696-5949-14d4-bd2a4e4f32d6-106c3656 {
  grid-area: Area-5;
}

#w-node-_2b9e71ee-d696-5949-14d4-bd2a4e4f32d8-106c3656 {
  grid-area: Area-3;
}

#w-node-e57cd8ed-af82-94fc-6def-08f224fc82b2-106c3656 {
  grid-area: Area-2;
}

#w-node-e57cd8ed-af82-94fc-6def-08f224fc82b4-106c3656 {
  grid-area: Area-3;
}


@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-ExtraBoldItalic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}